<div class="m-blockMenu__item">
    <div class="m-blockMenu__inner">
        <div class="m-blockMenu__content">
            <h3>Sample title</h3>
            <p>A little information goes here</p>
            <a class="button" href="#">
                Button title &nbsp;<i class="fal fa-long-arrow-right"></i>
            </a>
        </div>       
    </div>
</div>