<div class="article-box">
  <div class="article-holder">
    <div class="article">
      <img loading="lazy" width="100%" src="{{ 'blog-placeholder.png' | asset_img_url: '500x' }}" alt="Example Title">
      <h3 class="article-title"><a href="#">Example blog title</a></h3>
      <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap ....</p>
      <a href="#">
        <p class="readMore">CONTINUE READING </p>
      </a>
    </div>
  </div>
</div>