<div class="m-featuredColl__col">
  <div class="m-featuredColl__top">
    <div class="m-sectionTitle">
      <a class="a-sectionTitle__link" href="#">
        <h3 class="a-sectionTitle__text">Sample Title</h3>
        <p class="a-sectionTitle__button">
          View Collection
          <i class="fal fa-long-arrow-right"></i>
        </p>
      </a>
    </div>
    <p>A little caption for this collection</p>
  </div>
  <div class="m-featuredColl__bottom">
    <div class="m-featuredColl__product">
      <div class="m-featuredColl_productLeft">
        <a href="#">
          <img loading="lazy" data-src="{{ 'sample-product.png' | asset_url }}" class="featured-product-image lazy">
        </a>
      </div>
      <div class="m-featuredColl_productRight">
        <a href="#">
          <p> Product Title</p>
        </a>
        <strong>Sold out</strong>
      </div>
    </div>
    <div class="m-featuredColl__product">
      <div class="m-featuredColl_productLeft">
        <a href="#">
          <img loading="lazy" data-src="{{ 'sample-product.png' | asset_url }}" class="featured-product-image lazy">
        </a>
      </div>
      <div class="m-featuredColl_productRight">
        <a href="#">
          <p> Product Title</p>
        </a>
        <p>From $5.99</p>
      </div>
    </div>
    <div class="m-featuredColl__product">
      <div class="m-featuredColl_productLeft">
        <a href="#">
          <img loading="lazy" data-src="{{ 'sample-product.png' | asset_url }}" class="featured-product-image lazy">
        </a>
      </div>
      <div class="m-featuredColl_productRight">
        <a href="#">
          <p> Product Title</p>
        </a>
        <div style="display: flex;">
          <p>$19.95</p>&nbsp;
          <p style="text-decoration: line-through;color:red;">$29.90</p>
        </div>
      </div>
    </div>
    <div class="m-featuredColl__product">
      <div class="m-featuredColl_productLeft">
        <a href="#">
          <img loading="lazy" data-src="{{ 'sample-product.png' | asset_url }}" class="featured-product-image lazy">
        </a>
      </div>
      <div class="m-featuredColl_productRight">
        <a href="#">
          <p> Product Title</p>
        </a>
        <div style="display: flex;">
          <p>$19.95</p>&nbsp;
          <p style="text-decoration: line-through;color:red;">$29.90</p>
        </div>
      </div>
    </div>
  </div>
</div>