<div class="loading-spinner">
    <div class="loading-spinner__inner" role="img">
        <div class="spinner-card">
            <div class="spinner-card__inner"></div>
        </div>
        <div class="spinner-card">
            <div class="spinner-card__inner"></div>
        </div>
        <div class="spinner-card">
            <div class="spinner-card__inner"></div>
        </div>
        <div class="spinner-card">
            <div class="spinner-card__inner"></div>
        </div>
    </div>
</div>