body {
  font-size: var(--text-size);
}
input:not(.multi-select-child__input, .item-quantity > input) {
  border: 1px solid #bdbdbd;
}

.v2 ul {
  margin: unset;
}
.v2 input,
.v2 button,
.v2 select {
  border-radius: unset;
  transition: unset;
  border: unset;
  box-shadow: unset;
  padding: unset;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
}
.cart-icon-count {
  display: inline-block;
}

body {
  color: var(--text-color);
}

.v2 input[type="button"],
.v2 input[type="submit"],
.v2 input[type="reset"],
.v2 button,
.v2 .button {
  padding: 16px 32px;
  background: var(--color-gradient);
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
}

.v2 input,
.v2 select {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 16px 24px;
}

input,
select {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 16px 24px;
}

hr {
  border-top: 3px solid;
  border-image: var(--color-gradient) 1;
  width: 50px;
  margin: 8px 0;
}
